*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    box-sizing: border-box;
}
li{
    list-style: none;
}
h1{
    font-size: 20px;
    color: #fff;
}
input{
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 15px;
    margin: 15px;
    width: 350px;
}
a{
    text-decoration: none;
    cursor: pointer;
    opacity: .9;
}
a:hover{opacity: 1;}
header{
    height: auto;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1); /*Sombra*/
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c3;
    color: #fff;
}
header nav ul li{
    float: left;
    padding-left: 15px;
}
header nav ul li a{
    color: #fff;
    transition: .5s ease;
    font-size: 15.85px;
}
header nav ul li:first-child a{
    color: #000;
}
header nav ul li a:hover{
    color: #000;
}
main{
    background-image: url(/images/page-heading-bg.jpg);
    color: #9c3;
    flex-direction: column;
    padding: 270px 170px;
}
main .cont h2{
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 100px;
}
.about-us{
    display: block;
    flex-direction: column;
    align-self: center;
    margin-right: 40px;
}
.about-us h3{
    font-size: 35px;
    margin-bottom: 50px;

}
.about-us h3 em{
    color: #9c3;
}
.btn{
    margin: 40px;
    margin-left: px;
    padding: 15px;
    border: none;
    border-radius: 100px;
    background-color: #9c3;
    color: #fff;
}
.team{
    padding: 100px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.texto00{
    margin-bottom: 20px;
    font-size: 30px;
}
.texto00 em{
    color: #9c3;
}
.team-1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 100px;
}
.team001{
    margin-right: 30px;
    padding: 40px;
    border: none;
    background-color: #fff;
}
.team001 span{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.team002 span{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.team002{
    padding: 40px;
    border: none;
    background-color: #fff;
}
.copy{
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}